html,
body {
    font-size: 16px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.main_warp {
	/*min-width: 1200px;*/
}
/***自定义table样式***/
 .mytable-S tr:nth-of-type(even){background:#ffffff;} 
		 		 .mytable-S tr:nth-of-type(odd){background:#F9F9F9;}
		 		 .table-hover > tbody > tr:hover
		 		 {
		 		 	background-color:#BAE0F3;
		 		 }
		 		 
		 		 .mytable-S
		 		 {
		 		 	
		 		 	color: #7B7B7B;
		 		 }
		 		 
		 		 .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td
		 		 {
		 		 	border-top: none;
		 		 }
		 		 
		 		 

.nav-tabs .dropdown-menu {
    background-color: #2F5B93;
}

. .active a {
    background: #1A4D8B;
    color: #ffffff !important;
}

.dropdown-menu-active {
    background: #1A4D8B;
    border: none;
    border-radius: 0;
    color: #B9EEF4 !important;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}


/*头部信息*/

.main_header {
    background: #2F5B93;
    color: #fff;
    box-sizing: border-box;
    border-bottom: 3px solid #1A4D8B;
}

.header_title,
.icon_flag {
    float: left;
    font-weight: bold;
    font-size: 20px;
    height: 53px;
    line-height: 53px;
}

.icon_flag {
    color: #59C2E6;
    font-size: 30px;
    margin: 0 15px;
}

.header_nav {
    /*float: left;*/
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.header_nav .nav-tabs {
    border: none;
}

.header_nav .nav-tabs li {
    height: 53px;
    margin: 0;
}

.header_nav .nav-tabs .active a {
    background: #1A4D8B;
    border-radius: 0;
    border: none;
    color: #B9EEF4 !important;
}

.header_nav .nav-tabs li a {
    height: 53px;
    color: #fff;
    box-sizing: border-box;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    line-height: 53px;
}

.header_nav .nav-tabs li a:hover {
    background: #1A4D8B;
    border: none;
    color: #fff;
    border-radius: 0;
}

.header_nav .nav-tabs li a:focus {
    outline: none;
    outline-offset: 0;
    background: #1A4D8B;
    border: none;
    color: #fff;
}


/*login-info*/

.login_info {
    float: right;
    height: 53px;
    line-height: 53px;
    margin-right: 15px;
}

.login_user {
    margin-right: 15px;
    cursor: pointer;
}

.log_out {
    cursor: pointer;
    color: #fff;
}

.log_out:hover {
    /* color: #2F5B93; */
    color: #fff;
    text-decoration: none;
}


/*内容区信息*/

.main_content {
    border: 10px solid #F5F5F5;
    /*padding: 15px;*/
    box-sizing: border-box;
}

.content {
    height: 100%;
}


/*尾部信息*/

.main_footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #2F5B93;
    color: #fff;
    text-align: center;
    padding: 15px 0;
}


/*模态框*/

.modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
}

.modal-dialog .modal-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 50%;
    /**background: #333;
    color: #fff;**/
    text-align: center;
    /**border: 1px solid #ddd;**/
}
.modal-dialog .modal-content .modal-body {
	position: relative;
	/*padding: 0;*/
}

.modal-dialog .modal-header {
	color: #fff;
    border-bottom: 1px solid #666;
    background: #2F5C95;
}
#detailShow .modal-header {
	padding: 10px;
} 
#detailShow .modal-footer {
	padding: 10px;
}

#detailShow .close {
	font-size: 14px;
}
.modal-dialog .modal-footer {
    border-top: 1px solid #666;
}

/*查找*/


/*search content-header*/

.search_wrap {
    width: 100%;
    /*background: #333;*/
    padding: 5px 0;
    position: relative;
}

.search_form_group {
	float: left;
	margin-left: 30px;
	position: relative;
}

.search_icon {
    cursor: pointer;
}


/*日期控件  */

.ta_date {
    float: left;
    height: 34px;
    line-height: 34px;
}

.ta_date .opt_sel,
.ta_date .date_title {
    padding-top: 0;
    padding-bottom: 0;
    display: inline-block;
    height: 33px;
    line-height: 33px;
    vertical-align: top;
    box-sizing: border-box;
}

.ta_calendar_footer {
    padding-top: 6px;
    box-sizing: content-box;
}

.ta_calendar_footer .frm_btn {
    float: right;
}

.ta_calendar_footer .frm_btn .ta_btn {
    margin: 0;
    margin-left: 10px;
}

.ta_ipt_text_s {
    height: 28px;
    border-radius: 4px;
}

.select_wrap {
    float: left;
    margin-left: 30px;
    /*position: absolute;
   	left: 510px;
    width: 200px;*/
    height: 34px;
}
.search_btn {
	/*position: absolute;
	left: 420px;*/
	float: left;
	margin-left: 30px;
}
.search_btn .main_btn {
	background: #85DF6E;
	color: #fff;
	padding-left: 20px;
	padding-right: 20px;
	margin-right: 15px;
}
.search_btn .main_btn:active {
	background: #85DF6E;
	color: #fff;
}

.select_wrap .select_show {
    /*position: absolute;
   	left: 280px;
    top: 0;*/
    width: 120px;
    cursor: pointer;
    float: left;
    margin-right: 30px;
}

.select_show .btn {
	width: 100%;
}
/*删除输入框信息的按钮*/
.delete_val {
	position:absolute;
	right: 10px;
	top: 0;
	z-index: 200;
	height: 34px; 
	line-height: 34px;
	display: none;
	cursor: pointer;
}


.current_history {
	color: #fff;
	height: 34px; 
	float: left; 
	line-height: 34px;
}
.current_history .select_cur_his {
	cursor: pointer;
	
}

.table {
    margin-bottom: 0;
    cursor: pointer;
    border-collapse: collapse;
}

.list_content .table {
	width: 100%;
	border-top: none;
	table-layout: fixed;
}

.table tr {
	width: 100%;
}
.list_header .table th {
	border-bottom-width: 1px;
}

.list_header .table th, .list_content .table td {
	display: inline-block;
	border-left: none;
	border-bottom: none;
	box-sizing: border-box;
	white-space: nowrap;
}

.list_header {
    /*overflow-y: scroll;*/
   /*width: calc(100% - 17px);*/
   /*width: 100%;*/
   position: relative;
   left: 0;
   top: 0;
   /*height: 40px;*/
   /*width: calc(100% - 17px);*/
   width: 100%;

}
.common_table .list_header .table {
	border-bottom: none;
}
/*.common_table .list_header th:last-child {
	border-right: none;
	padding-right: 9px;
}*/

/*.common_table>div:first-child::after {
	content: '';
	display: block;
	position: absolute;
	right: 0;
	top: 0px;
	width: 18px;
	height: 40px;
	background: #F9F9F9;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-top: 1px solid #ddd;
	box-sizing: border-box;
	z-index: 100;
}*/

/*.common_table .list_header::-webkit-scrollbar {
	background: #fff;
	border:none;
}*/

.common_table{
    /*height: calc(100% - 44px);*/
   	height: calc(100% - 54px);
    border: 1px solid #ddd;
   	border-top: none;
    box-sizing: border-box;
}

.common_table .list_content {
	width: 100%;
    /*height: calc(100% - 40px);*/
   height: calc(100% - 35px);
    overflow-y: scroll;
    /*overflow-x: hidden;*/
   position: relative;
}

/*manage_icon*/
.manage_icon {
    text-align: center;
}

.manage_icon i {
    cursor: pointer;
}

/*.table-striped > tbody > tr:nth-of-type(odd) {
	background-color: #D9EDF7;
}*/
.content .table.table-hover > tbody > tr:hover td {
	background-color: #DFF0D8 !important;
	/*background-color: #BAE0F3;*/	
}

.content .table.table-hover > tbody > tr.table_active td{
	background: #BAE0F3 !important;
}

.detail_icon {
	/*float: left;*/
}
.fold_icon {
	float: right;
}

/**/
.table tbody {
	width: 100%;
}
.msg_detail_content {
	width: 100%;
}
.list_content .table tr.msg_detail_content .msg_detail_content_item{
	/*width: 100%;*/
	background: #EFFEF9;
	border-right: none;
	/*padding: 0;*/
}

/**分页*/
.paging {
	position: absolute;
	left: 20px;
	right: 20px;
	bottom: 5px;
	line-height: 32px;
	width: 100%;
}
.paging nav {
	float: left;
	margin: 0 20px;
}
.paging .pagination {
	margin: 0;
}

.paging .last_page {
	/*height: 36px;*/
	margin-right: 20px;
}

/*到第几页*/
.to_page {
	position: absolute;
	right: 40px;
	top: 0;
	height: 100%;
}
.to_page input {
	display: inline-block;
	width: 80px;
	margin: 0 10px;
}

/*选择每页显示的数据量*/
.select_show_data {
	position: absolute;
	/*left: 160px;*/
	/*right: 30px;*/
	right: 0;
	width: 100px;
	display: none;
}

/*右侧详情*/
.weather_detail {
	height: 100%;
}
.detail_title {
	width: 100%;
	/*height: 40px;
	line-height: 40px;*/
	height: 35px;
	line-height: 35px;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	box-sizing: border-box;
	padding-left: 20px;
	/*font-weight: bold;*/
	background: #F9F9F9;
	font-weight: bold;
	color: rgb(121, 121, 121);
}
.detail_content {
	height: calc(100% - 40px);
	width: 100%;
	white-space: normal;
	padding-left: 40px;
	padding-top: 50px;
	box-sizing: border-box;
	overflow: auto;
}

/*报文类型选项下拉框*/
.message_type {
	padding: 0;
}
.message_type .active {
	background: #2F5B93;
	color: #fff;
}
.message_type li>a:hover {
	background: #fff;
	color: #333;
}
.message_type li>.active:hover {
	background: #2F5B93;
	color: #fff;
}

.message_type li>a:focus {
	background: #fff;
	color: #333;
}
.message_type li>.active:focus {
	background: #2F5B93;
	color: #fff;
}



.main_content .list_content .sl_table {
	/*border: none;*/
}
.main_content .list_content .sl_table>tbody>tr, .main_content .list_header .table.sl_table>thead>tr {
	border: none;
	/*border-bottom: 1px solid #ddd;*/
}
.main_content .list_content .sl_table>tbody>tr>td, .main_content .list_header .sl_table>thead>tr>th{
	border: none;
	border-bottom: 1px solid #ddd;
}
 .main_content .list_header .sl_table>thead>tr>th {
 	font-weight: bold;
 	/*height: 39px;*/
 	height: 34px;
 	border-bottom: 1px solid #ddd;
 }
.main_content .list_header .sl_table {
	border-bottom: none;
	border-right: none;
	border-left: none;
}
/*多选字段*/
/*过滤*/
.filter_container {
	width: 500px;
	/*height: 200px;*/
	position: absolute;
	top: 115%;
	z-index: 1001;
	display: none;
	background: #fff;
	padding: 20px;
	box-sizing: border-box;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	color: rgb(121, 121, 121);
}
.show_term {
	/*height: 80px;*/
	margin-bottom: 15px;
	position: relative;
}
.filter_term>ul {
	font-size: 0;
}
.filter_term>ul>li {
	width: 50%;
	display: inline-block;
	/*font-size: 12px;*/
	font-size: 15px;
	padding-right: 20px;
	box-sizing: border-box;
	margin-bottom: 15px;
	height: 30px;
	line-height: 30px;
}
.filter_term>ul>li:nth-of-type(even) {
	padding-right: 0;
	padding-left: 20px;
}
.filter_term>ul>li .term_input {
	position: relative;
	float: right;
	width: 100px;
	/*margin-right: 10px;*/
	/*margin-right: 34px;*/
	margin-right: 20px;
	height: 30px;
}

.term_title {
	display: inline-block; height: 30px; line-height: 30px;
}
.need_term {
	float: right;
	width: 90%;
}
.need_term>li {
	height: 30px;
	line-height: 30px;
	border: 1px solid #ddd;
	float: left;
	margin-left: 15px;
	margin-bottom: 10px;
	padding: 0 5px;
}
.delete_term {
	cursor: pointer;
}

.term_input .option {
	position: absolute;
	left: 0;
	top: calc(100% + 5px);
	z-index: 100;
	width: 100%;
	max-height: 150px;
	overflow: auto;
	border: 1px solid #ddd;
	border-radius: 4px;
	display: none;
	background: #fff;
	cursor: pointer;
}
.term_input .option li {
	text-align: center;
}
.term_input .option li:hover{
	background: #ddd;
}
.term_input .option li.active {
	background: #BAE0F3;
}
/*时间选段*/
.filter_time .time_type, .filter_time .time_range_wrap {
	width: 50%;
	float: left;
}
.filter_time .select_time_type {
	width: 100px; display: inline-block; margin-left: 1em;
}
/*时间选段*/
.time_range .start_thumb, .time_range .end_thumb {
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 1001;
	transform: translate(-50%, -50%);
	height: 5px; width: 5px; border-radius: 50%; background: #41BE5F;
	opacity: .5;
}

.time_range {
	padding-left: 30px;
	width: 120px;
	transform: translateY(9px);
}
.time_range_wrap {
	padding-top: 10px;
}
.thumb_wrap {
	height: 1px; width: 120px; background: #000; position: relative;
}
.decorate_thumb {
	height: 10px; background: rgba(199, 235, 207, .9); position: absolute; top: 0; left: 0; transform: translateY(-50%); border-radius: 4px;
}
/*.start_time {
	position: absolute; left: 0; top: 0; transform: translate(-120%, -50%);
}
.end_time {
	position: absolute; right: 0; top: 0; transform: translate(120%, -50%);
}*/

/*重置按钮*/
.reset_btn {
	margin-right: 15px;
}

/* 时间控件*/
#div_date_demo3 input {
	float: right;
	width: 110px;
	margin-left: 30px;
	cursor: pointer;
}

/* 多选字段*/
.mult_filter {
	float: left;
	position: relative;
}
/*选择1页显示多少数据*/
.page_show_num {
	position: absolute;
	 /*right: 140px;*/
	right: 110px;
	/*top: 8px;*/
	display: none;
	height: 34px;
	line-height: 34px;
}
/*修改时间控件的样式*/
.jedateblue {
	border: 1px #2F5B93 solid;
}
.jedateblue .jedatetop {
	background: #2F5B93;
}
.jedateblue .jedatebot .jedatebtn span {
	background: #2F5B93;
	cursor: pointer;
}
.jedateblue .jedaul li.action, .jedateblue .jedaul li.action:hover, .jedateblue .jedaul li.action .lunar {
	background: #2F5B93;
}
.jedateblue .jedaul li:hover {
	background: #DFF0D8;
}

.jedateblue .jedatesety .ymdropul li.action, .jedateblue .jedatesetm .ymdropul li.action {
	background: #2F5B93;
}
.jedateblue .jedatesety .ymdropul li.action:hover, .jedateblue .jedatesetm .ymdropul li.action:hover {
	background: #2F5B93;
}
.jedateblue .jedatetopym p span.jedateymchok {
	background: #2F5B93;
}
.jedateblue .jedatetopym p span {
	cursor: pointer;
}
.jedateblue .jedateym .triangle:hover {
	background-color: #1A4D8B;
}
.jedateblue .jedatesety .ymdropul li:hover, .jedateblue .jedatesetm .ymdropul li:hover {
	background: #DFF0D8;
}
/*最接近当前时间的列表项*/
.closing_current td{
	background: #BAE0F3 !important;
}


.form-control {
	/*font-size: 12px;*/
	color: rgb(121, 121, 121);
}
.btn {
	/*font-size: 12px;*/
}
.btn-default {
	color: rgb(121, 121, 121);
}

/*tooltip 样式*/
.tooltip-inner {
	color: #fff;
	background: rgba(47, 91, 147, .8);
	/*white-space: nowrap;*/
}
/*.tooltip.left .tooltip-arrow{
	border-left-color: rgba(47, 91, 147, .6);
}*/
.tooltip.bottom .tooltip-arrow{
	border-bottom-color: rgba(47, 91, 147, .8);
}