@font-face {
  font-family: 'iconfont';  /* project id 366509 */
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/iconfont.woff') format('woff'),
  url('../fonts/iconfont.ttf') format('truetype'),
  url('../fonts/iconfont.svg#iconfont') format('svg');
}

/*字体 思源黑*/
@font-face {
	font-family: 'webfont';
  src: url('../fonts/SourceHanSansCN-Normal.otf');
}

.web-font {
		font-family: 'webfont';
		font-size:15px;
		font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control
{
	background-color:#ffffff;
}

.key-icon { 
    font-family: "iconfont";
    font-size: 20px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color: #7B7B7B;
}

.panel-icon {
    font-family: "iconfont";
    font-size: 12px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color: #B5B5B5;
}

.delete-icon {
    font-family: "iconfont";
    font-size: 20px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color: #B5B5B5;
}

.selected-icon {
		font-family: "iconfont";
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color: #79C48E;
}

.fold-icon {
		font-family: "iconfont";
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color: #79C48E;
}

/*天气列表的折叠搜索*/
.weather-fold-icon {
	font-family: "iconfont";
    font-size: 24px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color: #ccc;
}

.weather-add-icon {
	font-family: "iconfont";
    font-size: 30px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color: #666;
}


